<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <section className="container contenedor-login">
    <div className="row mh-100 login">
      <div className="col credenciales">
        <img
          className="container logo-candado"
          src="https://i.imgur.com/DVEh1vC.png"
          alt="logo-usuario"
        />
        <h5>Autenticación</h5>
        <br />
        <h6>Por favor introduzca sus credenciales para ingresar</h6>
        <form action="/auth" method='POST'>
          <div className="label">
            <table className="tabla_login">
              <tbody>
                <tr>
                  <td>
                    <label htmlFor="username_">Usuario</label>
                  </td>
                  <td>
                    <input
                      className="txt_login"
                      type="text"
                      id="user"
                      name="user"
                      placeholder='usuario'
                      required
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label htmlFor="password_">Contraseña</label>
                  </td>
                  <td>
                    <input
                      className="txt_login"
                      type="password"
                      id="pass"
                      name="pass"
                      placeholder='password'
                      required
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button className="btn_login text-white font-bold py-2 px-4 rounded" type="submit" name="login" value="ENTRAR">
            ENTRAR
          </button>
          <div>
            <button type="button" >
              He olvidado mi Contraseña
            </button>
          </div>
          <a href='registro'>Registrarse</a>
        </form>
      </div>
    </div>
  </section>

</body>
</html>
